.res {
 
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 0 0  1000px rbga(0,0,0,0.2);
	object-fit: contain;


}

.resume-container{

	background: url(../assets/images/img-3.jpg) center center/cover no-repeat;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;

}

/* iphone x */
@media only screen 
    and (max-width : 375px)  {
    .resume-container{
    	display: inline-flex;
    	overflow: auto;
    }
	.res {
    	display: inline-flex;
    	overflow: auto;


	}

}


/* Iphone x+ */
@media only screen 
    and (max-width : 414px)  {
    .resume-container{
    	display: inline-block;
    	overflow: auto;

    }
	.res {
    	display: inline-block;
    	overflow: auto;


	}

 }